<section class="cards-container">
  @if (cards.length > 0) {
    @for (card of cards; track card.id) {
      <div class="card-item">
        <div class="card-header">
          <h3>{{ card.cardName }}</h3>
          <span>Final {{ card.cardFinalNumbers }}</span>
        </div>
        <div class="card-body">
          <p>Banco: {{ card.cardBank }}</p>
          <p>Limite: {{ card.limit / 100 | currency: ('BRL') : 'symbol' : undefined : getLocaleByCurrency('BRL') }}</p>
          <p>Gasto Total: {{ card.totalSpent / 100 | currency: ('BRL') : 'symbol' : undefined : getLocaleByCurrency('BRL') }}</p>
          <p>Dia de vencimento: {{ card.dueDate }}</p>
          <p>{{ (card.limit - card.totalSpent) / 100 | currency: ('BRL') : 'symbol' : undefined : getLocaleByCurrency('BRL')}}</p>
        </div>
      </div>
    }
  } @else {
    <p>Nenhum cartão encontrado.</p>
  }
  <button class="add-card-button">+</button>
</section>
