<div class="dashboard-container">
    <div class="summary-grid">
        <div class="summary-card balance">
            <div class="card-header">
                <span class="icon">💰</span>
                <span class="label">Saldo Atual</span>
            </div>
            <div class="card-body">
                <h2 [class.negative]="financialSummary.balance < 0" [class.positive]="financialSummary.balance > 0">
                    {{ financialSummary.balance | currency: financialSummary.currency : 'symbol' : '1.2-2' :
                    getLocaleByCurrency(financialSummary.currency) }}
                </h2>
            </div>
        </div>

        <div class="summary-card income">
            <div class="card-header">
                <span class="icon">📈</span>
                <span class="label">Total Recebido</span>
            </div>
            <div class="card-body">
                <h3 class="positive">
                    + {{ financialSummary.total_received | currency: financialSummary.currency : 'symbol' : '1.2-2' :
                    getLocaleByCurrency(financialSummary.currency) }}
                </h3>
            </div>
        </div>

        <div class="summary-card expenses">
            <div class="card-header">
                <span class="icon">📉</span>
                <span class="label">Total de Gastos</span>
            </div>
            <div class="card-body">
                <h3 class="negative">
                    - {{ financialSummary.total_spent | currency: financialSummary.currency : 'symbol' : '1.2-2' :
                    getLocaleByCurrency(financialSummary.currency) }}
                </h3>
            </div>
        </div>
    </div>

    <div class="summary-cost-card">
        <p class="summary-cost-title">Gasto por moeda:</p>
        @for (cost of totalCostsByCurrency | keyvalue; track cost.key) {
        <p class="summary-cost-item">
            ({{ cost.key }}):
            <strong>
                {{ cost.value | currency:cost.key:'symbol':'1.2-2':getLocaleByCurrency(cost.key) }}
            </strong>
        </p>
        }
    </div>

    <div class="summary-cost-card">
        <p class="summary-cost-title">Total gasto nos cartões:</p>
        <!-- Itera sobre o novo objeto totalCostsByCard -->
        @for (card of totalCostsByCard | keyvalue; track card.key){
        <div class="summary-cost-by-card">
            <p class="summary-cost-title">Cartão de final {{ card.key }}:</p>
            <!-- Itera sobre as moedas e valores de cada cartão -->
            @for (cost of card.value | keyvalue; track cost.key) {
            <p class="summary-cost-item">
                ({{ cost.key }}):
                <strong>
                    {{ cost.value | currency:cost.key:'symbol':'1.2-2':getLocaleByCurrency(cost.key) }}
                </strong>
            </p>
            }
        </div>
        }
    </div>

    <div class="summary-subscriptions-card">
        <p class="summary-subscriptions-title">Total de itens: <strong>{{ totalSubscriptionsCount }}</strong></p>
        <div class="summary-subscriptions-item summary-active">
            <p>Ativos:</p>
            <strong>{{ activeSubscriptionsCount }}</strong>
        </div>
        <div class="summary-subscriptions-item summary-due">
            <p>À vencer:</p>
            <strong>{{ dueSubscriptionsCount }}</strong>
        </div>
        <div class="summary-subscriptions-item summary-expired">
            <p>Vencidos:</p>
            <strong>{{ expiredSubscriptionsCount }}</strong>
        </div>
        <div class="summary-subscriptions-item summary-disabled">
            <p>Desativados:</p>
            <strong>{{ disabledSubscriptionsCount }}</strong>
        </div>
    </div>
</div>