<div class="div-logo">
    <img src="../../assets/logo-veno.svg" alt="" width="96" height="96">
</div>
<form class="form-login" (ngSubmit)="onSubmit()">
    <h1 class="login-title">Bem-vindo de volta</h1>
    <label for="email" class="form-input">
        <input type="text" id="email" name="email" placeholder=" " [(ngModel)]="email" required>
        <p>Digite seu e-mail</p>
    </label>
    
    <label for="password" class="form-input">
        <input type="text" id="password" name="senha" placeholder=" " [(ngModel)]="password" required>
        <p>Digite sua senha</p>
    </label>

    <a class="forget-password">Esqueceu sua senha?</a>

    <button type="submit" class="login-button">
        Entrar
    </button>

    <p class="register-prompt">Não tem uma conta? <a routerLink="/register">Cadastre-se</a></p>

    <div class="divider">
        <hr />
        <p>Ou acesse com</p>
        <hr />
    </div>

    <button class="google-button" (click)="googleLogin()">
        <img src="../../assets/google.png" width="32" height="32" />
        Entrar com Google
    </button>
</form>