.subscriptions-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.subscriptionCard {
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 16px;
}

.subscription-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #d6d6d6 1px solid;
}

.subscription-name-status {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 8px 0;

    & h2 {
        font-size: 20px;
        margin: 0;
    }

    & p {
        margin: 0;
        max-width: fit-content;
    }
}

.subscription-details {
    margin-block: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
        margin: 0;
    }
}

.subscription-price {
    font-size: 24px;
    font-weight: 600;
    color: #2c2c2c;
    margin: 0;
}

.billing-date {
    color: #2c2c2c;
    margin: 0;
}

.subscription-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #d6d6d6 1px solid;
    border-radius: 8px;
    padding-inline: 16px;
    background-color: #fff;
}

.next-date {
    color: #2c2c2c;
    font-weight: 600;
    font-size: 20px;
}

.status {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  padding: 4px;
  border-radius: 4px;
  font-weight: 600;
  color: #2c2c2c;

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}

/* Cores por status */
.status-1 .dot { background-color: green; }   // ativo
.status-2 .dot { background-color: orange; }  // pendente
.status-3 .dot { background-color: red; }     // vencido
.status-0 .dot { background-color: gray; }    // desativado

.status-1 { background-color: rgba(0, 128, 0, 0.2); }   // ativo
.status-2 { background-color: rgba(255, 165, 0, 0.2); }  // pendente
.status-3 { background-color: rgba(255, 0, 0, 0.2); }     // vencido
.status-0 { background-color: rgba(128, 128, 128, 0.2); }    // desativado
