@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

.menu-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #2c2c2c;
    display: flex;
    justify-content: space-between;

    & app-menu {
        width: 100%;
        position: relative;
    }
}

.app-container {
    background-color: #fff;
}

.home-page {
    padding: 10px 0 0 0;
}

.app-name {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    color: #2c2c2c;
    margin-block: 10px;
    padding-block: 10px;
    margin-inline: 20px;
    border-bottom: #2c2c2c 1px solid;
}

.welcome-message {
    font-size: 20px;
    font-weight: 600;
    color: #2c2c2c;
    margin-bottom: 20px;
    margin-inline: 20px;
}