.home-page {
    padding: 30px 20px 180px 20px;
}

.app-name {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    font-weight: 700;
    color: #2c2c2c;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: #2c2c2c 1px solid;
}

.welcome-message {
    font-size: 20px;
    font-weight: 600;
    color: #2c2c2c;
    margin-bottom: 20px;
}