.menu-section {
    position: fixed;
    bottom: 52px;
    width: 100%;
}

.menu-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 12px;
}

.div-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & p {
        margin: 4px 0 0 0 !important;
        font-size: 12px;
        color: white;
    }
}

.menu-item {
    padding: 18px 20px;
    background: #f0f0f0;
    border-top: 3px solid #2c2c2c;
    border-left: 3px solid #2c2c2c;
    border-right: 3px solid #2c2c2c;
    border-radius: 50%;
    text-decoration: none;
    color: #333;
    transition: background 0.3s;
}

.menu-item:hover {
    background: #e0e0e0;
}